@font-face {
    font-family: 'fonte1';
    src: url('fontes/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}
@font-face {
    font-family: 'fonte2';
    src: url('fontes/Inter-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'fonte3';
    src: url('fontes/Inter-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'fonte4';
    src: url('fontes/Inter-ExtraBold.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
header{
    padding:40px 0;
}
.caixa{
    max-width: 1080px;
    min-width: 200px;
    position:relative;
    margin: auto;
}
.caixa h1{
   font-size: 3em;
   margin: 10px;
   font-family: 'font4';
}
nav{
    position: absolute;
    right: 0;
    top: 20px;
}
nav li{
    display: inline-block;
    font-family: 'fonte1';
    margin: 0 15px;
}
nav a{
    font-family: 'fonte1';
    font-weight: bold;
    color: rgba(0, 0, 0, 0.558);
    text-decoration: none;
}

main{
    max-width: 1040px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "secao-noticias secao-noticias secao-news"
    "secao-listagem secao-listagem secao-listagem"; 
    row-gap: 2rem;
    margin: auto;
    box-sizing: border-box;
    font-family: 'fonte1', sans-serif;

    /*position: relative;*/
}
.secao-noticias{
   grid-area: secao-noticias;
}
.secao-news{
    grid-area: secao-news;
    margin-left: 25px;
}
.secao-listagem{
    grid-area: secao-listagem;
    /*grid-column: span 3 ;
    grid-row: 2;*/
}
.noticias{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-areas: "imagem imagem"
    "titulo texto";
    row-gap: 1.5em;
}
.imagem-introducao{
    width: 98%;
    grid-area: imagem;
}
.titulo-introducao{
    grid-area: titulo;

    font-family: 'fonte4';
    font-size: 2.7em;
    color: rgb(3, 3, 37);
    line-height: 1em;
    padding: 0 1.2em 0 0;
    text-align: left;
    margin-top: 0.2em;
}
.texto-introducao{
    grid-area: texto;

    color: rgba(0, 0, 0, 0.636);
    font-size: 0.9em;
    line-height: 1.5em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 2.2em;
}
.botao-leia{
    width: 50%;
    padding: 0.8em 0;
    background-color: rgb(254, 107, 91);

    text-decoration: none;
    color: white;
    font-family: 'fonte3';
    text-align: center;
}
.new{
    background-color: rgb(3, 3, 37);
    color: rgba(225, 225, 225, 0.847);
    padding: 1.5em 1em;
}
.titulo-new{
    color: rgb(212, 165, 10);
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 1em;
}
.titulo2-new{
    color: white;
    font-weight: bold;
    margin-bottom: 0.9em;
}
.texto-new{
    font-size: 13.5px;
    line-height: 2em;
}
.linha{
    border: 0;
    border-top: 1px solid rgba(148, 148, 148, 0.842);
    margin: 1.8em auto;
}
.secao-listagem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.lista{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 1em;
}
.topicos-listagem{
    display:flex;
    column-gap: 20px;
}
.titulo-num-listagem{
    font-family: 'fonte4', sans-serif;
    font-size: 2em;
    color: #b9b9b9;
}
.titulo-descricao-listagem{
    font-family: 'fonte4', sans-serif;
    margin: 0.65em 0;
}
.texto-listagem{
    font-family: 'Inter', sans-serif;
    color: #8b8b8b;
    font-size: 0.9em;
     line-height: 1.6em;
}
.imagem-listagem {
    width: 23%;
    height:23%
}
@media screen and (max-width: 480px){
    header{
        padding:10px 0;
    }
    nav{
        position: static;
    }
    main{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    .noticias{
        display: flex;
        flex-direction: column;
    }
    .secao-news{
        margin: 0;
    }
    .lista{
        flex-direction: column;
        row-gap: 1em;
    }
}

